@keyframes breathe {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.7);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-breathe {
    animation: breathe 2s ease-in-out infinite;
  }